@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Roboto:wght@700;900&display=swap');
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main-body{
  background-color: white;
}
header {
  position: relative !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: 'Josefin+Sans';
    background-image: linear-gradient(white,beige);
    text-align: left;
}
.logo {
  display: flex;
  align-items: center;
}

.header-about{
  display: flex;
  justify-content: center;
}

.images{
  display: flex;
  justify-content: center;
}

.paragraph{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.header-text{
  margin-top: 25px;
  margin-left: 10px;
}
.header-img{
  margin-left: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
}
.link{
  justify-content: center;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap:10px;
  
  color: red;
  font-family: helvetica;
  text-decoration: none;
 }

 .link a {
   text-decoration: none;
 }

 .guide-content {
   padding: 20px; 
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }

.guide-images{ 
    height: 300px;
    margin-left: 5px;
    width: 500px;
    
}

.slider{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  
}

.backend{
    display: flex;
    padding-top:50px;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}
.backend-text{
    font-size: larger;
    font-weight: 600;
    margin-left: 5px;
    padding-bottom: 20px;
}


.header-nav{
    height: 50px;
    background-image: white;
}
.box {
    padding-top: 30px;
    justify-content: center;
    display: flex;
}
  
  .box select {
    background-color: #ebf2f6;
    color:black;
    width: 220px;
    border: 2px solid rgb(23, 22, 22);
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    height: 40px;
  }
  
  .box select option {
    padding: 20px;
  }

  button {
    background-color: #f0f5f9; 
    border: 2px solid black;
    color: rgb(34, 34, 34);
    text-align: center;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .input-search {
    background-color: #f0f5f9;
    border: 2px solid rgb(239, 227, 227);
    color: black;
    border: none;
    width: 200px;
    height:22px;
    border: 2px solid black;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 7px;
    border-radius: 10px;
    font-size: 15px;
  }

  .Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
    height: 20px;
    padding: 30px 25px;
   
  }
 
 
 .social-container {
  background: #eee;
  padding: 25px 50px;
  display: flex;
  justify-content: center;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
 .guide-image{
   width:50%;
 }
 .map{
   width: 20%;
   padding: 20px;
 }
 .eat{
   width:30%;
   padding: 20px;
 }
 .book-button{
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
 }
 .book{
  display: flex;
  justify-content: center;
  padding: 100px;
}